*.py[cod]
*.tar
*.gz
*.csv
*.txt
*.pdf
*.old
*.log
*.ini

*.png
*.json

backup/
.backup/
obsolete/
.obsolete/
log/
sandbox/
optodeData/

node_config.ini
display_config.ini

sampling.py
capture.py

NODE
BASE

dtc.sh

