*.py[cod]
*.db
*.db-wal
*.db-shm
*.tar
*.gz
*.exe
*.csv
*.txt
*.pdf
*.old
*.log
*.ini

*.png
*.json
index.html
node_*.html
node_*/

sendWWWtoWeb.sh
upload.sh

obsolete/
.obsolete/
log/

node_config.ini
display_config.ini

sampling.py
capture.py

NODE
BASE
