*.py[cod]
*.db
*.db-wal
*.db-shm
*.tar
*.gz
*.csv
*.txt
*.pdf
*.old
*.log
*.ini

*.png
*.json

obsolete/
.obsolete/
log/
sandbox/

node_config.ini
display_config.ini

sampling.py
capture.py

NODE
BASE

dtc.sh

