[Unit]
Description=DS1307 RTC Service
 
[Service]
Type=simple
WorkingDirectory=/root/node/setup/time
ExecStart=/bin/bash /root/node/setup/time/clock_init.sh
SyslogIdentifier=rtc_ds1307
 
[Install]
WantedBy=multi-user.target
