<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="node_page.css">
    <title>{{ title_str }}</title>
</head>
<body>
<script src="jquery.min.js" type="text/javascript"></script>
<script src="jquery.timeago.js" type="text/javascript"></script>
<script src="node_page.js" type="text/javascript"></script>

<div id="summary" class="center">
    <h1>{{ node_id }}</h1>
    <p>{{ status_str }}</p>
    <p>{{ setting_str }}</p>
</div>

<table id="latest" class="center">
<tbody>
<caption>Current Readings</caption>
<tr><th>Variable</th><th>Value</th><th>Unit</th></tr>
{% for name,value,unit in TABLE %}<tr><td>{{ name }}</td><td>{{ value }}</td><td>{{ unit }}</td></tr>{% endfor %}
</tbody>
</table>

<br></br>

<div id="wrap">
	{% for img_header,img_src,img_alt in PLOTS %}
    <div class="box">
        <p class="plot_header center">{{ img_header }}</p>
        <div class="innerContent">
            <a href="{{ img_src }}"><img class="plot" src="{{ img_src }}" alt="{{ img_alt }}"></a>
        </div>
    </div>
	{% endfor %}
</div>
</body>
</html>